.total-cards-wrap {
  ul {
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;

    li {
        flex-direction: column;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }
  }  
}